#whoshare p {
	float: left;
	padding-top: 0.8em;
	padding-left: 1.2em;
}

#photoform img  {
	width: 128px;
	height: 128px;
	background: transparent url('apps/user_photo/img/pattern.png');
	border: 1px solid #D8D8D8;
	margin-top: 1em;
	padding: 5px;
}